<div class="product-container">
  <div class="product-image">
    <img alt="" class="product-img" src="//images02.nicepage.com/c461c07a441a5d220e8feb1a/6182b7ca64ef5420adeca8d9/35144535-8aaf-1bf7-89eb-153e47df0227.jpg">
  </div>
  <div class="product-details">
    <h2 class="product-title">
      <a href="#">Sample Product</a>
    </h2>
    <div class="product-price">
      <div class="price-wrapper">
        <div class="old-price"> $12 </div>
        <div class="current-price"> $9.95 </div>
      </div>
    </div>
    <div class="product-content">
      <p>Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
    </div>
    <a href="#" class="add-to-cart-btn">Add to Cart</a>
  </div>
</div>
