<nav class="navbar navbar-expand-lg bg-custom-color">
    <div class="container-fluid">
        <div class="navbar-collapse">
            <div class="row w-100">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <a class="navbar-brand fw-bold" href="#">Second Hand</a>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" onclick="HideSidebat()">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="HideSidebat()">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" onclick="HideSidebat()">About</a>
                        </li>
                        <!-- Conditionally render the Login link -->
                        <li class="nav-item" *ngIf="!isAuthenticated">
                            <a class="nav-link" href="/Login" onclick="HideSidebat()">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 d-flex justify-content-end align-items-center">
                    <div *ngIf="isAuthenticated">
                        <i class="fa-regular fa-bell"></i>
                        <i class="fa-solid fa-envelope"></i>
                        <a routerLink="/NewPost" routerLinkActive="active-link">
                            <i class="fa-solid fa-circle-plus"></i>
                          </a>
                    </div>
                    <div class="d-flex search-form" >
                    </div>
                    <div class="profile-icon-container" (mouseenter)="showProfileMenu()" (mouseleave)="hideProfileMenu()" *ngIf="isAuthenticated">
                        <i class="fa-regular fa-user"></i>
                        <div class="menu-bar" *ngIf="isProfileMenuVisible">
                            <!-- Add menu items here -->
                            <a (click)="navigateToDashboard()" >My Profile</a>
                            <a (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
