<div class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <!-- Signup Section -->
        <div class="col-md-4 mb-4">
            <div class="signup-section text-center">
                <p>Used to Sell & Buy</p>
            </div>
        </div>

        <!-- Signup Form -->
        <div class="col-md-8">
            <div class="rounded bg-blue relative m-0 box-sizing-border flex p-4">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xl-7">
                            <div class="flex flex-col box-sizing-border">
                                <div class="h1 fw-bold mb-1 text-center">
                                    Sign Up
                                </div>
                                <div class="mb-3 text-center">
                                    <span class="break-words font-normal text-24 text-black">
                                        Already have an account? <a href="/Login" class="text-blue">Login here</a>
                                    </span>
                                </div>
                            </div>
                            <form>
                                <div class="mb-4">
                                    <label class="form-label font-weight-bold" for="name">Name</label>
                                    <input type="text" id="name" class="form-control" placeholder="Enter your name" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label font-weight-bold" for="phone">Phone no.</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Enter your phone number" />
                                </div>

                                <div class="mb-4">
                                    <label class="form-label font-weight-bold" for="email">Email</label>
                                    <input type="email" id="email" class="form-control" placeholder="Enter your email" />
                                </div>

                                <div class="mb-4">
                                    <label class="form-label font-weight-bold" for="password">Password</label>
                                    <input type="password" id="password" class="form-control" placeholder="Enter your password" />
                                </div>

                                <div class="mb-4">
                                    <label class="form-label font-weight-bold" for="birthdate">Birth Date</label>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="DD" />
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="MM" />
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="YYYY" />
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label font-weight-bold" for="gender">Gender</label>
                                    <select class="form-select" id="gender" aria-label="Gender">
                                        <option selected disabled>Choose gender</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>

                                <div class="form-check mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                                    <label class="form-check-label" for="form2Example3c">
                                        By signing up you agree to receive updates and special offers.
                                    </label>
                                </div>

                                <div class="text-center mb-4">
                                    <button type="submit" class="btn btn-primary btn-lg">Sign up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
