CategoriesContainer {
  background-color: #f9f9f943;
  max-width: 95%;
  margin: 0 auto;
  border-radius: 50px;
}

.section-title {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center; 
  margin: 10px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.category {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative; /* For z-index */
  transition: all 0.3s ease; /* For smooth transition */
}

.icon-container {
  font-size: 32px;
  margin-bottom: 10px;
  color: #1B6392;
}

.category-name {
  font-size: 18px;
  margin-bottom: 10px;
  color: #1B6392;
}
.category-ads-number{
  margin-bottom: 20px;
  display: block;
}
.category-ads {
  font-size: 14px;
  color: #1B6392;
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  margin: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  cursor: pointer;
}

.category:hover {
  box-shadow: 0 0 10px #1b629294;
}

.category:hover .category-ads {
  visibility: visible;
}
.container {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
}
.ad-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px; /* Add negative margin to offset margin added to individual ads */
}

.ad {
  width: calc(50% - 20px); /* Set width for two ads in a row */
  margin-bottom: 20px;
  background-color: #ffffff; /* Background color for ads */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  transition: transform 0.3s ease; /* Add transition for hover effect */
}

.ad:hover {
  transform: translateY(-5px); /* Lift the ad slightly on hover */
}

.ad-details {
  display: flex;
  align-items: center;
}

.ad-details img {
  width: 50%; /* Make image take half of the card */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Add border radius to the image */
}

.ad-details > div {
  width: 50%; /* Adjust the width of details */
  padding-left: 10px; /* Add padding between image and details */
}

.ad-details h2 {
  margin-top: 0; /* Reset margin */
  color: #333333; /* Text color for ad title */
}

.ad-details p {
  color: #666666; /* Text color for ad price */
}

.ad-details i {
  color: #ff5e3a; /* Heart icon color */
  margin-right: 5px; /* Add spacing between heart icon and text */
}

.view-all {
  background-color: #00aaff;
  border-radius: 4px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
}

.view-all:hover {
  background-color: #0077cc; /* Darken the background color on hover */
}

.view-all i {
  margin-left: 10px;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .ad {
    width: calc(100% - 20px); /* Full width for ads on smaller screens */
  }
}
