<div class="BasicLayout">
    <div class="breadcrumb-container">
      <div class="section-title">Account Settings</div>
      <div class="breadcrumbs">
        <span class="breadcrumb-item">Home</span>
        <span class="breadcrumb-separator">/</span>
        <span class="breadcrumb-item">Dashboard</span>
        <span class="breadcrumb-separator">/</span>
        <span class="breadcrumb-item">Settings</span>
      </div>
    </div>
    <div class="container">
      <aside class="sidebar">
        <div class="profile-section">
          <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
          <h2>Abdalla Ayman</h2>
          <p>Member</p>
        </div>
        <div class="menu">
          <a href="Dashboard" class="menu-item">Overview</a>
          <a href="NewPost" class="menu-item">Post Ads</a>
          <a href="MyAds" class="menu-item">My Ads</a>
          <a href="Favourites" class="menu-item active">Favourite Ads</a>
          <a href="messages" class="menu-item">Messages</a>
          <a href="EditProfile" class="menu-item">Account Settings</a>
          <a href="" class="menu-item">Sign Out</a>
        </div>
      </aside>
    </div>
</div>  