.message_7-6366 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffffff;
  width: 1920px;
  height: 1714px;
}
.bg_7-6488 {
  top: 326px;
  left: 636px;
  position: absolute;
  display: flex;
  display: flex;
}

.breadcrumbs_7-6489 {
  padding: 60px 300px 60px 300px;
  top: 86px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  display: flex;
}
.text-messege_7-6490 {
  color: #000000;
  font-weight: 600;
  text-align: center;
  text-wrap: wrap;
  width: 1320px;
}

.location_7-6491 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
}
.text-home_7-6492 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.text--_7-6501 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.text-ads-list_7-6502 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.text--_7-6503 {
  color: #000000;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.text-ads-list_7-6504 {
  color: #000000;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
}

.message_7-6505 {
  top: 326px;
  left: 636px;
  position: absolute;
  display: flex;
  width: 984px;
  height: 800px;
}
.message_7-6506 {
  padding: 16px 50px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
}
.message_7-6507 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
}
.avatar_7-6508 {
  display: flex;
}

.info_7-6509 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
}
.duration_7-6510 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}
.text-jenny-wilson_7-6511 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.ellipse-19_7-6512 {
  display: flex;
}

.text-3-10-pm_7-6513 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.text-hello-jenny--i-want-to-buy-your-phone-but-it-s-to-much-expensive-_7-6514 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 538px;
}

.ads_7-6515 {
  padding: 0px 0px 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
}
.text-this-message-relates-to-_7-6516 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.ads_7-6517 {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}
.image_7-6518 {
  display: flex;
}

.info_7-6519 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  height: 80px;
}
.text-xiaomi-poco-x2--8-256--hot-offer--used-_7-6520 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 200px;
}

.text--1900-00_7-6521 {
  color: #000000;
  font-size: 13px;
  font-family: Nunito;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 200px;
}

.message_7-6522 {
  padding: 16px 50px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 20px;
  box-sizing: border-box;
}
.message_7-6523 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
}
.avatar_7-6524 {
  display: flex;
}

.info_7-6525 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
}
.duration_7-6526 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}
.text-jenny-wilson_7-6527 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.ellipse-19_7-6528 {
  display: flex;
}

.text-3-15pm_7-6529 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.text-okay-wilson--i-m-okay-with-price--can-you-tell-me-about-your-phone-specification-and-warrenty_7-6530 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 538px;
}

.message_7-6531 {
  padding: 16px 50px 16px 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 12px;
  box-sizing: border-box;
}
.avatar_7-6532 {
  display: flex;
}

.info_7-6533 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
}
.duration_7-6534 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 4px;
  box-sizing: border-box;
}
.text-jenny-wilson_7-6535 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.ellipse-19_7-6536 {
  display: flex;
}

.text-3-14-pm_7-6537 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.text-hey-esther--sorry-esther-i-can-t-low-the-price--it-s-already-very-low-price--and-right-now-i-can-t-lower-the-price--it-s-now-fixed-prices_7-6538 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 538px;
}

.navigation_7-6539 {
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 411px;
  box-sizing: border-box;
  border-radius: 0px 12px 0px 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 657px;
}
.avatar_7-6540 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
}
.rectangle-8_7-6541 {
  display: flex;
}

.frame-215_7-6542 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 4px;
  box-sizing: border-box;
}
.text-esther-howard_7-6543 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.active_7-6544 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
}
.avatar_7-6545 {
  display: flex;
}

.text-active-now_7-6546 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.icon-button_7-6547 {
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.trash_7-6548 {
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.trash_7-6549 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
}
.vector_7-6550 {
  display: flex;
}

.vector_7-6551 {
  display: flex;
}

.vector_7-6552 {
  display: flex;
}

.vector_7-6553 {
  display: flex;
}

.vector_7-6554 {
  display: flex;
}

.vector_7-6555 {
  display: flex;
}

.type-your-message_7-6556 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  width: 658px;
  height: 70px;
}
.rectangle-9_7-6557 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-type-your-message---_7-6558 {
  top: 25px;
  left: 26px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 131px;
  height: 20px;
}

.icon-button_7-6559 {
  padding: 12px;
  top: 13px;
  left: 601px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.paperplaneright_7-6560 {
  position: relative;
  box-sizing: border-box;
  display: flex;
}
.paperplaneright_7-6561 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
}
.vector_7-6562 {
  display: flex;
}

.vector_7-6563 {
  display: flex;
}

.vector_7-6564 {
  display: flex;
}

.message-list_7-6565 {
  width: 328px;
  height: 799px;
}
.bg_7-6566 {
  display: flex;
}

.message-list_7-6567 {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
  border-radius: 12px 0px 0px 12px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
}
.message_7-6568 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
}
.text-message_7-6569 {
  color: #000000;
  font-size: 20px;
  font-family: Nunito;
  line-height: 32px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  text-wrap: nowrap;
}

.input-field_7-6570 {
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  width: 280px;
  height: 42px;
}
.text-password_7-6571 {
  top: 9px;
  left: 18px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 50px;
  height: 24px;
}

.fi-search_7-6572 {
  top: 9px;
  left: 240px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_7-6573 {
  top: 3px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_7-6574 {
  top: 17px;
  left: 17px;
  position: absolute;
  display: flex;
  display: flex;
}

.message_7-6575 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.rectangle-16_7-6576 {
  top: -12px;
  left: -24px;
  position: absolute;
  display: flex;
  display: flex;
}

.avatar_7-6577 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.avatar_7-6578 {
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6579 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-esther-howard_7-6580 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 199px;
}

.text-microsoft_7-6581 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 199px;
}

.right_7-6582 {
  top: 0px;
  left: 258px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 0px;
  box-sizing: border-box;
}
.dot_7-6583 {
  padding: 1px 6px 1px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 100px;
}
.text-1_7-6584 {
  color: #000000;
  font-size: 11px;
  font-family: Nunito;
  line-height: 16px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
}

.text-1m_7-6585 {
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
}

.message_7-6586 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6587 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6588 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-devon-lane_7-6589 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-new-mexico_7-6590 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-5m_7-6591 {
  top: 20px;
  left: 258px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 21px;
  height: 20px;
}

.avatar_7-6592 {
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.message_7-6593 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6594 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6595 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-jenny-wilson_7-6596 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-11-7-16_7-6597 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-1h_7-6598 {
  top: 20px;
  left: 262px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 17px;
  height: 20px;
}

.message_7-6599 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6600 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6601 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-annette-black_7-6602 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-2464-royal-ln--mesa--new---_7-6603 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-2h_7-6604 {
  top: 20px;
  left: 262px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 17px;
  height: 20px;
}

.message_7-6605 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6606 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6607 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-marvin-mckinney_7-6608 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-amet-minim-mollit-non-_7-6609 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-2d_7-6610 {
  top: 20px;
  left: 262px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 17px;
  height: 20px;
}

.avatar_7-6611 {
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.message_7-6612 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6613 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6614 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-theresa-webb_7-6615 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-177_7-6616 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-1w_7-6617 {
  top: 20px;
  left: 258px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 21px;
  height: 20px;
}

.message_7-6618 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6619 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6620 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-dianne-russell_7-6621 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-women-s-white-handbag_7-6622 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-1m_7-6623 {
  top: 20px;
  left: 258px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 21px;
  height: 20px;
}

.avatar_7-6624 {
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.message_7-6625 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6626 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6627 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-cameron-williamson_7-6628 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-2-hours_7-6629 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-1m_7-6630 {
  top: 20px;
  left: 258px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 21px;
  height: 20px;
}

.message_7-6631 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6632 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6633 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-albert-flores_7-6634 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-contract-base_7-6635 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-1m_7-6636 {
  top: 20px;
  left: 258px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 21px;
  height: 20px;
}

.avatar_7-6637 {
  top: 30px;
  left: 30px;
  position: absolute;
  display: flex;
  display: flex;
}

.message_7-6638 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6639 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6640 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-guy-hawkins_7-6641 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-marketing-officer_7-6642 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-2m_7-6643 {
  top: 20px;
  left: 258px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 21px;
  height: 20px;
}

.message_7-6644 {
  position: relative;
  box-sizing: border-box;
  width: 279px;
  height: 40px;
}
.avatar_7-6645 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.info_7-6646 {
  top: 0px;
  left: 50px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
}
.text-jerome-bell_7-6647 {
  color: #000000;
  font-weight: 600;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-new-york_7-6648 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 202px;
}

.text-2m_7-6649 {
  top: 20px;
  left: 258px;
  position: absolute;
  display: flex;
  color: #000000;
  font-weight: 400;
  text-align: right;
  text-wrap: nowrap;
  width: 21px;
  height: 20px;
}

.today_7-6650 {
  width: 608px;
  height: 16px;
}
.line-43_7-6651 {
  display: flex;
}

.frame-279_7-6652 {
  padding: 0px 8px 0px 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
}
.text-today_7-6653 {
  color: #000000;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.navigator_7-6654 {
  top: 326px;
  left: 300px;
  position: absolute;
  display: flex;
}
