<div class="Myads-filter">
  <div class="search-bar">
    <input type="text" placeholder="Search..." [(ngModel)]="searchText">
    <button><i class="fas fa-search"></i></button>
  </div>
  <div class="filter-options">
    <select [(ngModel)]="selectedCategory">
      <option value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category.value">
        {{ category.label }}
      </option>
    </select>
    <!-- Add other filter options -->
  </div>
</div>
<div class="Myads-table">
  <table>
    <thead>
      <tr>
        <th>My Ads</th>
        <th>Date</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ad of userAds">
        <td>{{ ad.title}}</td>
        <td>{{ ad.Date_created}}</td>
        <td>{{ ad.price}}</td>
        <td>{{ ad.status}}</td>
        <td class="Action">
          <button (click)="editAd(ad)">Edit</button>
          <div class="dropdown" (mouseenter)="toggleDropdown(ad, true)" (mouseleave)="toggleDropdown(ad, false)">
            <button class="ellipsis-button">...</button>
            <div class="dropdown-content" *ngIf="ad.showDropdown">
              <button (click)="viewDetails(ad)">View Details</button>
              <button (click)="makeExpire(ad)">Make it Expire</button>
              <button (click)="deleteAd(ad)">Delete Ad</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
