<div class="BasicLayout">
  <div class="container">
      <aside class="sidebar">
          <div class="profile-section">
              <img src="profile-picture.jpg" alt="Profile Picture" class="profile-picture">
              <h2>Abdalla Ayman</h2>
              <p>Member</p>
          </div>
          <div class="menu">
            <a routerLink="/Dashboard" routerLinkActive="active" class="menu-item">Overview</a>
            <a routerLink="/NewPost" routerLinkActive="active" class="menu-item">Post Ads</a>
            <a routerLink="/MyAds" routerLinkActive="active" class="menu-item">My Ads</a>
            <a routerLink="/Favourites" routerLinkActive="active" class="menu-item">Favourite Ads</a>
            <a routerLink="/Messages" routerLinkActive="active" class="menu-item">Messages</a>
            <a routerLink="/EditProfile" routerLinkActive="active" class="menu-item">Account Settings</a>
            <a routerLink="" class="menu-item">Sign Out</a>
          </div>          
          <div #dynamicComponentContainer></div>
      </aside>
  </div>
</div>
