<div *ngIf="ad" class="ad-details-container">
  <div class="ad-image">
    <!-- <img [src]="ad?.imageUrl" alt="Ad Image"> -->
    <img [src]="ad.imageURL" alt="Ad Image" class="ad-image" />
  </div>
  <div class="ad-info">
    <h2>{{ ad?.title }}</h2>
    <div class="ad-price">{{ ad?.price | currency:'USD':'symbol':'1.2-2' }}</div>
    <p class="ad-description">{{ ad?.description }}</p>
    <div class="ad-meta">
      <p class="ad-category">Category: {{ ad?.Category }}</p>
      <p class="ad-condition">Condition: {{ ad?.condition | uppercase }}</p>
      <p class="ad-date">Date Created: {{ ad?.dateCreated | date:'medium' }}</p>
    </div>
    <div class="user-details">
      <h3>User Details</h3>
      <p>User Name: {{ userData?.full_name}}</p>
      <p>User Location: {{ userData?.location }}</p>
      <p>User Phone Number: {{ userData?.phone_number }}</p>
      <p>User Government: {{ userData?.government }}</p>
      <div>
        <h2>Leave a Comment and Rating</h2>
        <textarea [(ngModel)]="userComment" placeholder="Enter your comment"></textarea>
        <input type="number" [(ngModel)]="userRating" placeholder="Enter rating (1-5)">
        <button (click)="submitComment()">Submit</button>
      </div>
      
    </div>
  </div>
</div>
